<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" ref="stylesheet" href="style.css" />
    <title>PASo</title>
  </head>
  <body>
    <nav>
      <div class="navigation-logo-container">
        <img src="#" class="navigation-logo" alt="PASo logo" />
      </div>
      <div>
        <ul class="navigation-menu">
          <li><a class="navigation-menu-item" href="#">Dorms</a></li>
          <li><a class="navigation-menu-item" href="#">Students</a></li>
          <li><a class="navigation-menu-item" href="#">Incidents</a></li>
        </ul>
      </div>
    </nav>

    <main class="edit-dorm-info">
      <div class="form-container">
        <h1>Edit Student Information</h1>
        <form>
          <div class="grid-col-2">
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="block" class="info-labels"> Block </label>
              </div>
              <input
                id="block"
                class="input-space size-of-input"
                type="text"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="dorm-number" class="info-labels">
                  Dorm number
                </label>
              </div>
              <input
                id="dorm-number"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="stdents" class="info-labels">
                  Number of students</label
                >
              </div>
              <input
                id="students"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="mattress" class="info-labels"> Mattress </label>
              </div>
              <input
                id="mattress"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="chair" class="info-labels"> Chair </label>
              </div>
              <input
                id="chair"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="table" class="info-labels"> Table </label>
              </div>
              <input
                id="table"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="bed" class="info-labels"> Bed </label>
              </div>
              <input
                id="bed"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
            <div class="margin-top form-inputs">
              <div>
                <img class="icons-img" src="icons8-building-50.png" />
                <label for="locker" class="info-labels"> Locker </label>
              </div>
              <input
                id="locker"
                class="input-space size-of-input"
                type="number"
                min="0"
                placeholder="Block name/number"
                required
              />
            </div>
          </div>
          <div class="submit-button-container">
            <button class="submit-button">
              <div class="icon-align">
                <div><ion-icon name="checkmark"></ion-icon></div>
                <div>Done</div>
              </div>
            </button>
            <button class="submit-button-exit">
              <div class="icon-align">
                <div><ion-icon name="close"></ion-icon></div>
                <div>Exit</div>
              </div>
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
